# MacOS
.DS_Store

# Windows
thumbs.db

# Electron
dist/electron/*
dist/web/*
build/*
!build/icons

# Test
coverage

# Dependencies
node_modules/

# Logs
npm-debug.log*

# Yarn
yarn.lock
yarn-error.log

# Dotenv
.env
!.env.sample
