html {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  user-select: none;
}
body,
select,
input,
button {
  color: $text;
}
option {
  background-color: $background;
}
body {
  background-color: $background;
  font-display: auto;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  outline: none;
  &::before {
    background: $background;
    content: '';
    display: flex;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: -1;
  }
}
input[type='text'],
input[type='time'],
input[type='date'],
input[type='email'],
input[type='password'] {
  appearance: none;
  box-sizing: border-box;
}
input::placeholder {
  color: $grey-ccc;
  opacity: 100%;
  padding-top: 2px;
}
input:focus,
button:focus {
  outline: none;
}
