name: publish
on:
  push:
    branches:
      - master

concurrency:
  group: publish
  cancel-in-progress: true

jobs:
  publish-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@1a9e2138d905efd099035b49d8b7a3888c653ca8
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Publish
        run: yarn build --mac -p onTagOrDraft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
          CSC_LINK: ${{ secrets.CSC_LINK }}
          GOOGLE_ANALYTICS_ID: ${{ secrets.GOOGLE_ANALYTICS_ID }}
          HACKARU_API_CLIENT_ID: ${{ secrets.HACKARU_API_CLIENT_ID }}
          HACKARU_API_TIMEOUT: ${{ secrets.HACKARU_API_TIMEOUT }}
          HACKARU_API_TOKEN_ENDPOINT: ${{ secrets.HACKARU_API_TOKEN_ENDPOINT }}
          HACKARU_API_URL: ${{ secrets.HACKARU_API_URL }}
          HACKARU_WEB_AUTHORIZATION_ENDPOINT: ${{ secrets.HACKARU_WEB_AUTHORIZATION_ENDPOINT }}
          HACKARU_WEB_URL: ${{ secrets.HACKARU_WEB_URL }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          MIXPANEL_PROJECT_TOKEN: ${{ secrets.MIXPANEL_PROJECT_TOKEN }}

  publish-windows:
    runs-on: windows-latest
    needs: publish-macos
    steps:
      - name: Checkout
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@1a9e2138d905efd099035b49d8b7a3888c653ca8
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Publish
        run: yarn build --win -p onTagOrDraft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOOGLE_ANALYTICS_ID: ${{ secrets.GOOGLE_ANALYTICS_ID }}
          HACKARU_API_CLIENT_ID: ${{ secrets.HACKARU_API_CLIENT_ID }}
          HACKARU_API_TIMEOUT: ${{ secrets.HACKARU_API_TIMEOUT }}
          HACKARU_API_TOKEN_ENDPOINT: ${{ secrets.HACKARU_API_TOKEN_ENDPOINT }}
          HACKARU_API_URL: ${{ secrets.HACKARU_API_URL }}
          HACKARU_WEB_AUTHORIZATION_ENDPOINT: ${{ secrets.HACKARU_WEB_AUTHORIZATION_ENDPOINT }}
          HACKARU_WEB_URL: ${{ secrets.HACKARU_WEB_URL }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          MIXPANEL_PROJECT_TOKEN: ${{ secrets.MIXPANEL_PROJECT_TOKEN }}

  publish-linux:
    runs-on: ubuntu-latest
    needs: publish-windows
    steps:
      - name: Checkout
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@1a9e2138d905efd099035b49d8b7a3888c653ca8
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Publish
        run: yarn build --linux -p onTagOrDraft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOOGLE_ANALYTICS_ID: ${{ secrets.GOOGLE_ANALYTICS_ID }}
          HACKARU_API_CLIENT_ID: ${{ secrets.HACKARU_API_CLIENT_ID }}
          HACKARU_API_TIMEOUT: ${{ secrets.HACKARU_API_TIMEOUT }}
          HACKARU_API_TOKEN_ENDPOINT: ${{ secrets.HACKARU_API_TOKEN_ENDPOINT }}
          HACKARU_API_URL: ${{ secrets.HACKARU_API_URL }}
          HACKARU_WEB_AUTHORIZATION_ENDPOINT: ${{ secrets.HACKARU_WEB_AUTHORIZATION_ENDPOINT }}
          HACKARU_WEB_URL: ${{ secrets.HACKARU_WEB_URL }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          MIXPANEL_PROJECT_TOKEN: ${{ secrets.MIXPANEL_PROJECT_TOKEN }}
